.grid {
  display: grid;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.table-row {
  display: table-row;
}

.display-hover {
  .child {
    opacity: 0;
  }
  &:hover {
    .child {
      opacity: 1;
    }
  }
}
